{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">{% endblock %}
{% block name %}Dashboard{% endblock %}
{% block content %}

<div class="container">
  {% if error %}
  <span style="color:red;">{{error}}</span>
  {% endif %}
  <form action="submitPost" method="POST" enctype="multipart/form-data" >{% csrf_token %}
      <h1 class="blog-caption">Blog Post:</h1>
      {{form.as_p}}
    <div style="text-align:center; padding:10px;" class="post-btn">
      <button class="btn btn-primary" type="submit" name="button">Post</button>
    </div>
  </form>
</div>
{% endblock content %}
