{% extends 'dashboard/base.html' %}
{% load url_target_blank%}
{% load static %}
{% block title %}Edit Post{% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/dashboard/editpostpage.css' %}"> {% endblock %}
{% block name %}Edit Post{% endblock %}
{% block content %}


<div class="container">
    <h1 class="subject-text">{{post.subject}}</h1>
    <div class="small-text"><small>{{post.user_email}} {{post.date}} {% if post.author.profile %}<img
                src="{{post.author.profile.url}}"
                style="width:75px!important;height:75px!important;border-radius:50%;">{% else %}<img
                src="{% static 'img/blank_profile.jpg' %}"
                style="width:75px!important;height:75px!important;border-radius:50%;"> {% endif %}</small>
    </div>
    {% if post.img %}
    <div class="img-container">
        <img src="{{post.img.url}}" alt="Jane" style="max-width:1100px;max-height:550px;">
    </div>
    {% endif %}
    <form action="/comfirmEdits/{{post.id}}" method="POST"> {% csrf_token %}
        <div class="row">
            <div class="col-lg-10">
                <textarea name="description" id="" cols="30" rows="10">{{ post.description }}</textarea>
            </div>
        </div>
        <div class="edit-btns">
            <button type="submit" class="btn btn-primary">Comfirm Edit</button>
            <a href="/deletePost/{{post.id}}"><button type="button" class="btn btn-danger">Delete Post</button></a>
        </div>
    </form>
</div>

{% endblock content %}
