{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/dashboard/index.css' %}">{% endblock %}
{% block name %}Home{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    {% for i in post %}
    <div class="col-md-4">
      <div class="card">
        {% if i.img %}
        <img class="post-img" src="{{i.img.url}}" alt="Jane" style="">
        {% endif %}
        <div class="container">
          <h2>{{i.subject}}</h2>
          <p class="title">{{i.date}}</p>
          <p>{{i.display_text}}</p>
          <p>By: {{i.user_email}} {% if not i.author.profile %}<img src="{% static 'img/blank_profile.jpg' %}" alt="Avatar" class="avatar"> {% else %} <img src="{{ i.author.profile.url }}" alt="Avatar" class="avatar">{% endif %}</p>
          <a href="readPost?id={{i.id}}">
            <p><button class="button">Read More</button></p>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
