{% extends 'dashboard/base.html' %}
{% block title %}Read{% endblock %}
{% block name %}Some Post{% endblock %}
{% block content %}
<style media="screen">
  img {
    padding: 20px;
  }
  .subject-text{
    text-align: center;
  }
  .small-text{
    text-align: center;
  }
  .col-lg-10{
    margin: auto;
  }
  .email-paragraph{
    padding-right: 10px;
  }
</style>

<div class="container">
  <h1 class="subject-text">{{post.subject}}</h1>
  <div class="small-text"><small>{{post.user_email}}   {{post.date}}</small></div>
  <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Jane" style="width:100%">
  <div class="row">
    <div class="col-lg-10">
      <p>{{post.description}}</p>
    </div>
  </div>
</div>

{% endblock content %}
