{% extends 'dashboard/base.html' %}
{% block title %}Read{% endblock %}
{% block name %}Some Post{% endblock %}
{% block content %}
<style media="screen">
  img {
    padding: 20px;
  }
  .img-container{
    text-align: center;
  }
  .subject-text{
    text-align: center;
  }
  .small-text{
    text-align: center;
  }
  .col-lg-10{
    margin: auto;
  }
  .email-paragraph{
    padding-right: 10px;
  }
  .description-text{
    word-break: break-word;
  }
  @media (max-width: 1200px){
    img{
      width: 100%!important;
    }
  }
</style>

<div class="container">
  <h1 class="subject-text">{{post.subject}}</h1>
  <div class="small-text"><small>{{post.user_email}}   {{post.date}}</small></div>
  {% if post.img %}
  <div class="img-container">
  <img src="{{post.img.url}}" alt="Jane" style="max-width:1140px;max-height:550px;">
  </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-10">
      <p class="description-text">{{post.description|linebreaks}}</p>
    </div>
  </div>
</div>

{% endblock content %}
