{% extends 'dashboard/base.html' %}
{% block title %}Settings{% endblock %}
{% block name %}Account{% endblock %}
{% block content %}
<style media="screen">
    img {
        border-radius: 50%;
    }
</style>
<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Posts</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">{{user.first_name|title}} {{user.last_name|title}}</h5>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <h6>Recent badges</h6>
                            <a href="#" class="badge badge-dark badge-pill">html5</a>
                            <a href="#" class="badge badge-dark badge-pill">react</a>
                            <a href="#" class="badge badge-dark badge-pill">codeply</a>
                            <a href="#" class="badge badge-dark badge-pill">angularjs</a>
                            <a href="#" class="badge badge-dark badge-pill">css3</a>
                            <a href="#" class="badge badge-dark badge-pill">jquery</a>
                            <a href="#" class="badge badge-dark badge-pill">bootstrap</a>
                            <a href="#" class="badge badge-dark badge-pill">responsive-design</a>
                            <hr>
                            <span class="badge badge-primary"><i class="fa fa-user"></i> 900 Followers</span>
                            <span class="badge badge-success"><i class="fa fa-cog"></i> 43 Forks</span>
                            <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
                        </div>
                        <!-- <div class="col-md-12">
                              <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                              <table class="table table-sm table-hover table-striped">
                                  <tbody>
                                      <tr>
                                          <td>
                                              <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div> -->
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a> This is all your <strong>posts</strong>.
                        You modify or delete your posts
                    </div>
                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to
                                    the latest summary report from the..
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="edit">
                    <form method="POST" action="/settings/updateInformation"> {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <input onchange="checkIfCrudentialsAreDifferent();" class="form-control" name="edit_first" id="edit_first" type="text"
                                    value="{{user.first_name|title}}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <input onchange="checkIfCrudentialsAreDifferent();" class="form-control" type="text" name="edit_last" id="edit_last"
                                    value="{{user.last_name|title}}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input onchange="checkIfCrudentialsAreDifferent();" class="form-control" type="email" id="edit_email" name="edit_email" value="{{user.email}}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="submit" class="btn btn-primary" id="submit-change-btn" value="Save Changes">
                            </div>
                        </div>
                    </form>
                    <!-- <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Company</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Website</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="url" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Address</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" placeholder="Street">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="City">
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" value="" placeholder="State">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
                            <div class="col-lg-9">
                                <select id="user_time_zone" class="form-control" size="0">
                                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                    <option value="Alaska">(GMT-09:00) Alaska</option>
                                    <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp;
                                        Canada)</option>
                                    <option value="Arizona">(GMT-07:00) Arizona</option>
                                    <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp;
                                        Canada)</option>
                                    <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00)
                                        Central Time (US &amp; Canada)</option>
                                    <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp;
                                        Canada)</option>
                                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="janeuser">
                            </div>
                        </div> -->
                    <form action="/settings/updatePassword" method="POST"> {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">New Password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" name="edit_password" id="first-pass"
                                    onchange="checkPasswordMatch();" value="" pattern=".{8,}" required
                                    title="Password must be 8 characters minimum">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                            <div class="col-lg-9">
                                <input onchange="checkPasswordMatch();" class="form-control" id="second-pass"
                                    type="password" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="submit" class="btn btn-primary" id="signup-btn" value="Update Password">
                                <span id="divCheckPasswordMatch" style="color: red;"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            var first_name = document.getElementById("edit_first").value;
            var last_name = document.getElementById("edit_last").value;
            var email_address = document.getElementById("edit_email").value;
            document.getElementById("submit-change-btn").disabled = true; //disable the button as default
            //This function will compare to see if the user's first,last,and email are the same
            //Purpose of this is so that users arent able to trigger a change if the first,last,and email are currently the same
            function checkIfCrudentialsAreDifferent(){
                const button = document.getElementById("submit-change-btn");
                const fn = document.getElementById("edit_first").value;
                const ln = document.getElementById("edit_last").value;
                const em = document.getElementById("edit_email").value;
                console.log("Old records",first_name,last_name,email_address);
                console.log("New records",fn,ln,em);
                if(first_name == fn && last_name ==ln && email_address == em){console.log("TRUE");button.disabled = true;}
                else{console.log("FALSE");button.disabled = false;}
            }
        </script>
        <script text="text/javascript">
            function checkPasswordMatch() {
                var password = $("#first-pass").val();
                var confirmPassword = $("#second-pass").val();
                // if passwords don't match, prompt user and disable the save changes button
                if (password != confirmPassword || password == "" || confirmPassword == "") {
                    document.getElementById('signup-btn').disabled = true;
                    if (password == "" || confirmPassword == "") { //if the field is empty
                        $("#divCheckPasswordMatch").html("Dont Leave fields empty!");
                    }
                    else {
                        $("#divCheckPasswordMatch").html("Passwords do not match!");
                    }
                } else {
                    document.getElementById('signup-btn').disabled = false;
                    $("#divCheckPasswordMatch").html("");
                }
            }
            $(document).ready(function () {
                $("#txtNewPassword, #txtConfirmPassword").keyup(checkPasswordMatch);
            });
        </script>
        <div class="col-lg-4 order-lg-1 text-center">
            {% if profile is not none %}
            <img src="{{ profile }}" class="mx-auto img-circle d-block" width="200px" height="200px" alt="avatar">
            {% else %}
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            {% endif %}
            <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <form class="" action="/changeProfile/{{user.id}}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" name="button">Change</button>
                </form>
            </label>
        </div>
    </div>
</div>
{% endblock content %}
